/* ------------- Layout ------------- */

h2 {
  color: #00ceff;
}

.btn {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: unset;
}



/* ------------------------------ Homepage slideshow section ------------------------------ */

.pos-control {
  height: fit-content !important;
  position: absolute;
}

.pos-control.top {
  top: 0px;
}

.pos-control.middle {
  top: 50%;
  transform: translateY(-50%);
}

.pos-control.bottom {
  bottom: 0px;
}

.pos-control.left {
  left: 0px;
}

.pos-control.center {
  left: 50%;
  transform: translateX(-50%);
}

.pos-control.right {
  right: 0px;
}

.pos-control.middle.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-slideshow .hero__link {
  margin-top: 30px;
}

/* -------------------------------------- Homepage text-columns section ------------------------------- */

.text-column-item.layout-overlay {
  position: relative;
}

.text-column-item.layout-overlay .content_wrapper {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: calc(100% - 22px);
}

/* ------------------------------------- Homepage image-overlay section --------------------------------------- */

.section-image-overlay .background-media-text__aligner {
  height: 100%;
  margin: 0 40px;
  position: relative;
}

@media (min-width: 1501px) {
  .section-image-overlay .background-media-text__aligner {
    margin: 0 calc(50% - 710px);
  }  
}


.section-image-overlay .background-media-text__aligner .animation-cropper {
  position: absolute;;
  top: 50%;
  transform: translateY(-50%);
}
.section-image-overlay .background-media-text--right .animation-cropper {
  right: 0px;
}
.section-image-overlay .background-media-text--left .animation-cropper {
  left: 0px;
}

.section-image-overlay .background-media-text__text .background-media-text__subtext {
  font-size: 16px;
  line-height: 1.3;
  padding-top: 5px;
}

.section-image-overlay .background-media-text__text .background-media-text__subtext p {
  margin-bottom: 15px;
}

.section-image-overlay .background-media-text__text .background-media-text__subtext p:last-child {
  margin-bottom: 0px;
}

.section-image-overlay .background-media-text__text .h3 p {
  margin-bottom: 10px;
}
